.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
  font-family: Helvetica, sans-serif;
}


.navbar-default {
  background-color: #111;
  font-family: 'Montserrat', Helvetica, sans-serif;
  z-index: 10;
}

.navbar-default a {
  color:#ccc;
}

div.navbar-collapse.collapse {
  display: block;
  overflow: hidden;
  max-height: 0px;
  -webkit-transition: max-height .3s ease;
  -moz-transition: max-height .3s ease;
  -o-transition: max-height .3s ease;
  transition: max-height .3s ease;
}
div.navbar-collapse.collapse.in {
  max-height: 200px;
}

/* Annotations */

h1 {
  font-family: Helvetica, sans-serif;
  font-weight:bold;
  text-transform: uppercase;
  font-size:24px;
  color:#1a9dba !important;
  width:100%;
  border-bottom:1px solid #eee;
}

h2 {
  font-family: Helvetica, sans-serif;
  font-weight:bold;
  text-transform: uppercase;
  font-size:14px;
  color:#484949 !important;
}

p {
  font-family: Helvetica, sans-serif;
  font-weight:normal;
  font-size:14px;
  color:#484949 !important;
  line-height: 18px;
}

.header,
.navbar {
  margin-bottom:0px !important;
}

.left-col {
  background: #f6f6f6;
  background: -moz-linear-gradient(left, #f6f6f6 91%, #f6f6f6 95%, #cbcbcb 100%);
  background: -webkit-gradient(left top, right top, color-stop(91%, #f6f6f6), color-stop(95%, #f6f6f6), color-stop(100%, #cbcbcb));
  background: -webkit-linear-gradient(left, #f6f6f6 91%, #f6f6f6 95%, #cbcbcb 100%);
  background: -o-linear-gradient(left, #f6f6f6 91%, #f6f6f6 95%, #cbcbcb 100%);
  background: -ms-linear-gradient(left, #f6f6f6 91%, #f6f6f6 95%, #cbcbcb 100%);
  background: linear-gradient(to right, #f6f6f6 91%, #f6f6f6 95%, #cbcbcb 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f6f6', endColorstr='#cbcbcb', GradientType=1 );
}

.fade-container {
  opacity:0;
  -webkit-transition: opacity 0.5s ease-in;
  -moz-transition: opacity 0.5s ease-in;
  -o-transition: opacity 0.5s ease-in;
  -ms-transition: opacity 0.5s ease-in;
  transition: opacity 0.5s ease-in;
}

.fade-container.loaded {
  opacity:1;
}

.movie-thumb {
  margin: 20px 0px;
  height:200px;
  cursor: pointer;
}

.movie-thumb.selected h2,
.movie-thumb.selected p {
  color:#1a9dba !important;
}

.movie-thumb .circle-container {
  margin:-10px auto;
  height:140px;
  width:140px;
  border-radius: 50%;
  border:9px solid transparent;
  overflow: hidden;
  cursor:pointer;
}

.movie-thumb.selected .circle-container {
  border:9px solid #1a9dba;
}

.movie-thumb .circle-container img {
  height:auto;
  width:auto;
  max-height: 150%;
  max-width: 150%;
  margin-top: -15%;
}

.movie-details img.poster {
  width:100%;
  max-width:174px;
  /*height:262px;*/
  height:auto;
}

.movie-details .row {
  margin-bottom:64px;
}

.actor-thumb {
  margin: 10px 0px;
  cursor: pointer;
  height:90px;
}

.actor-thumb.selected h2,
.actor-thumb.selected p {
  color:#1a9dba !important;
}

.actor-thumb .circle-container {
  margin:-10px auto;
  height:70px;
  width:70px;
  border-radius: 50%;
  border:4px solid transparent;
  overflow: hidden;
  cursor:pointer;
  float:left;
}

.actor-thumb.selected .circle-container {
  border:4px solid #1a9dba;
}

.actor-thumb .circle-container img {
  height:auto;
  width:auto;
  max-height: 150%;
  max-width: 150%;
  margin-top: -15%;
}

.actor-thumb .text {
  float:left;
  clear:right;
  padding-left:12px;
}

.actor-thumb .text h2,
.actor-thumb .text p {
  margin:0px;
}

.actor-fullshot img {
  max-width:100%;
}

.footer {
  color:#ccc;
}

@media only screen and (max-width : 991px) {
  body {
    height:100vh;
    overflow:hidden;
  }
  .left-col,
  .right-col {
    padding:12px 64px 50px 12px;
    width:100vw;
    height:100vh;
    overflow-y:auto;
    margin-top:0px;
    -webkit-transition: margin-top .75s cubic-bezier(0.86, 0, 0.07, 1);
    -moz-transition: margin-top .75s cubic-bezier(0.86, 0, 0.07, 1);
    -o-transition: margin-top .75s cubic-bezier(0.86, 0, 0.07, 1);
    -ms-transition: margin-top .75s cubic-bezier(0.86, 0, 0.07, 1);
    transition: margin-top .75s cubic-bezier(0.86, 0, 0.07, 1);
    -webkit-transition-delay: .25s;
    transition-delay: .25s;
  }

  .left-col.hideleft {
    margin-top:-200%;
  }

  .actor-thumb .text {
    max-width: 70%;
  }
}

@media only screen and (max-width : 479px) {
  h1 {
    font-size:18px;
  }
  h2 {
    font-size:12px;
  }
  p, p div {
    font-size:10px;
    line-height:12px;
  }
  .actor-thumb .text {
    max-width: 50%;
  }
  .movie-thumb .circle-container {
    margin: -7px auto;
    height: 80px;
    width: 80px;
  }
  .left-col.hideleft {
    margin-top:-250%;
  }
}


@media only screen and (min-width : 992px) {
  body {
    height:100vh;
    overflow:hidden;
  }
  .left-col,
  .right-col {
    padding:24px 64px 50px 64px;
    height:100vh;
    overflow-y:auto;
  }
  .actor-thumb .text {
    max-width: 70%;
  }
}
